header {
    color:antiquewhite;
    background-color: brown;
    text-align: center;
}
main {
    background-color: rgb(174, 176, 179);
    padding: 1em;
    text-align: center;
}
body {
    background-image: url(record.png);
    background-repeat:round;
    margin: 0%;
    background-color: rgb(143, 143, 71);
}